body{
    background-color: ivory;
    height: 100%;
    background-image: url('fulldrawn.jpg');
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}
#bg{
  height: 100%;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  /* background-color: ivory; */
  text-align: center;
}
/* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }
#topbar{
  background-color: black;
}
.inner{
  position: absolute;
}
.headquote{
    font-family: serif;
    font-style: italic;
    color: ivory;
    font-size: 2em;
}
.blurredimg{
    /* background-image: url('drawnlids.jpg'); */
    background-size: 100%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
ul{
  text-decoration: none;
}
/*    social media buttons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.4;
    text-decoration: none;
    color: ivory;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-mail-reply {
    background: #ff3f3a;
    color: white;
}
.fa-instagram {
    background: #df00db;
    color: white;
}
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
